.form-input input,
.form-input textarea{
    width: 100%;
    padding: 7px 25px;
    /* color: #fff; */
    font-size: 0.8rem;
    background: transparent;
    border: 1px solid #343444;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-input{
    margin-bottom: 15px;
}
.form-input label{
    color: #343444;
    margin-bottom: 10px;
}
.form-input .upload-input{
    padding: 40px 25px;
}
::webkit calendar picker indicator{
    filter: invert(1);
    cursor: pointer;
}
@media only screen and (max-width:576px) {
 .create_item{
    margin-top: 15px;
 }    
}