.seller_section-title h3{
    color: #343444;
}
.seller_img{
    width: 80px;
    height: 80px;
}
.seller_content h6{
    font-size: 1rem;
    color: #343444;
}
@media only screen and (max-width: 992px) {
    .seller_content h6{
        font-size: 0.8rem !important;
    }
    
}